<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RxPaabInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RxPaabInterface.Properties.Settings.RxBarCodingConnectionString"
            connectionString="Data Source=ZA-SMAHLABA\SQLEXPRESS;Initial Catalog=RxBarCoding;Persist Security Info=True;User ID=sa;Password=rxsolution"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <applicationSettings>
    <RxPaabInterface.Properties.Settings>
      <setting name="RxPaabInterface_PaabHost_PAABService" serializeAs="String">
        <value>http://localhost/PAABWS2/paabservice.asmx</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>cedric</value>
      </setting>
      <setting name="pwd" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="pracnumber" serializeAs="String">
        <value>5602041</value>
      </setting>
      <setting name="test" serializeAs="String">
        <value>testing</value>
      </setting>
      <setting name="RxPaabInterface_Paab2_PAABService" serializeAs="String">
        <value>http://10.151.39.215:81/paabservice.asmx</value>
      </setting>
    </RxPaabInterface.Properties.Settings>
  </applicationSettings>
</configuration>